extends ../base.pug

block variables
  - var template = 'home'

block content
  .home
    .home_wrapper
      .home_intro(data-animation="white")
        .home_intro_wrapper
          h1.home_intro_title(data-animation="title")= home.data.intro_title
          .home_intro_skills(data-animation="title")= home.data.intro_skills
          .line_bottom
            .line_thick
            .line_thin

      .home_works(data-animation="change-bg-color")
        .home_works_wrapper
          .home_works_top
            .home_works_title_icon
            h2.home_works_title(data-animation="miniTitle") Selected Works

          #works_list.home_works_list
            .home_works_list_wrapper
              each work in projects
                .home_works_single
                  .home_works_single_wrapper
                    .home_works_single_details_wrapper
                      .home_works_single_details
                        .home_works_single_skills=work.data.skills
                      h2.home_works_single_title=work.data.title
                      .home_works_single_button
                        a.home_works_single_link(a href=`/work/${work.uid}`) View more
                        .home_works_small_button_icon
                          svg(id='circle_icon' width='48' height='36' fill='none' viewBox='0 0 48 36' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='17.8824' cy='17.8824' r='17.3824' stroke='#BB4430')
                            circle(cx='23.5294' cy='17.8824' r='17.3824' stroke='#BB4430')
                            circle(cx='30.1176' cy='17.8824' r='17.3824' stroke='#BB4430')
                    .home_works_single_gallery
                      figure.home_works_single_thumbnail.home_works_single_thumb
                        img.home_works_single_image(data-src=work.data.featured_image.url alt=work.data.featured_image.alt)
                      figure.home_works_single_thumbnail_two.home_works_single_thumb
                        img.home_works_single_image(data-src=work.data.featured_image_2.url alt=work.data.featured_image.alt)
                      figure.home_works_single_thumbnail_three.home_works_single_thumb
                        img.home_works_single_image(data-src=work.data.featured_image_3.url alt=work.data.featured_image.alt)
                      figure.home_works_single_thumbnail_four.home_works_single_thumb
                        img.home_works_single_image(data-src=work.data.featured_image_4.url alt=work.data.featured_image.alt)
                      canvas.home_works_single_gallery_wrapper

      include ../components/contact
