extends ../base.pug

block variables
  - var template = 'work'


block content
  .works_list_button.regularButton
    a.work_details_live_link.prevent(href='http://'+single.data.link target='blank')
      .home_works_small_button_icon
        svg(width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M17.3823 8C17.3823 12.0913 13.6568 15.5 8.94114 15.5C4.22548 15.5 0.5 12.0913 0.5 8C0.5 3.90871 4.22548 0.5 8.94114 0.5C13.6568 0.5 17.3823 3.90871 17.3823 8Z")
          path(d="M20.2058 8C20.2058 12.0913 16.4803 15.5 11.7646 15.5C7.04897 15.5 3.32349 12.0913 3.32349 8C3.32349 3.90871 7.04897 0.5 11.7646 0.5C16.4803 0.5 20.2058 3.90871 20.2058 8Z")
          circle( cx="12" cy="8" r="2.5")
          path(d="M23.5001 8C23.5001 12.0913 19.7746 15.5 15.0589 15.5C10.3433 15.5 6.6178 12.0913 6.6178 8C6.6178 3.90871 10.3433 0.5 15.0589 0.5C19.7746 0.5 23.5001 3.90871 23.5001 8Z")
      span See live
  .works_list
    .works_list_title All works
    each work in projects
      .works_list_item
        a.work_list_item_link(href=`/work/${work.uid}`)
          .works_list_item_title=work.data.title
  .work
    .work_wrapper
      .work_intro
        .work_intro_wrapper
          h2.work_intro_title(data-animation="title")=single.data.title
          .work_intro_skills(data-animation="title")=single.data.skills
          .line_top.line(data-animation="line" data-delay="0.5")
            .line_thick
            .line_thin
          figure.work_details_photo(data-delay="4.5")
            img.work_details_image(data-src=single.data.featured_image.url alt=single.data.featured_image.alt)

      .work_details
        .work_details_wrapper
          .work_details_left
            .work_details_left_top
              .work_details_title
                .work_details_icon
                  svg(width="88" height="48" viewBox="0 0 88 48" fill="none" xmlns="http://www.w3.org/2000/svg")
                    circle(cx="24" cy="24" r="23.5")
                    circle(cx="31.579" cy="24" r="23.5")
                    circle(cx="40.4211" cy="24" r="23.5")
                    circle(cx="47.3166" cy="24" r="23.5")
                    circle(cx="54.8956" cy="24" r="23.5")
                    circle(cx="63.7377" cy="24" r="23.5")
                span(data-animation="title" data-delay="0.35") Project Description
              .work_details_text(data-animation="text" data-delay="0.75" data-duration="3")!=ctx.prismicH.asHTML(single.data.description)
            .work_details_bottom
              .work_details_technical
                .work_details_bottom_techincal_title(data-animation="title") Technical Stuff
                .work_details_bottom_technical_text(data-animation="text" data-delay="1")!=ctx.prismicH.asHTML(single.data.technical_stuff)

        .work_content
          .work_content_wrapper
            .work_content_solution
              .work_content_suspects
                .work_content_suspects_problem
                  .work_content_suspects_problem_title_wrapper
                    .work_content_suspects_problem_title(data-animation="title") Problem
                  .work_content_suspects_problem_text(data-animation="text" data-delay="0.75")!= ctx.prismicH.asHTML(single.data.problem)
                .work_content_suspects_solution
                  .work_content_suspects_solution_title_wrapper
                    .work_content_suspects_solution_title(data-animation="title" data-delay="0.35") Solution
                  .work_content_suspects_solution_text(data-animation="text" data-delay="1")!= ctx.prismicH.asHTML(single.data.solution)

            .work_content_featured
              .work_content_featured_wrapper
                .work_content_featured_text(data-animation="text" data-delay="0.15" data-duration="5.5")=single.data.featured_text
                .work_content_featured_images
                  each image in single.data.auxiliar_images
                    figure.work_content_featured_images_photo
                      img.work_content_featured_images_image(data-src=image.image.url alt=image.image.alt data-delay="0.5")

            if single.data.ui_and_color_palette
              .work_content_ui
                .work_content_ui_wrapper
                  .work_content_ui_icon
                    .work_content_ui_icon_svg
                      svg(width="48" height="45" viewBox="0 0 48 45" fill="none" xmlns="http://www.w3.org/2000/svg")
                        circle(cx="13.9636" cy="30.5457" r="13.3386" stroke="#74706C" stroke-width="1.25")
                        circle(cx="34.0364" cy="30.5457" r="13.3386" stroke="#74706C" stroke-width="1.25")
                        circle(cx="24.4364" cy="13.9636" r="13.3386" stroke="#74706C" stroke-width="1.25")
                    .work_content_ui_title UI & Color Palette

                  figure.work_content_ui_photo
                    img.work_content_ui_image(data-src=single.data.ui_and_color_palette.url alt=single.data.ui_and_color_palette.alt)

            .work_content_screenshots
              .work_content_screenshots_wrapper
                .work_content_screenshots_icon
                  .work_content_screenshots_icon_svg
                      //- svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg")
                      //-   rect(x="0.5" y="11.9282" width="35.5716" height="35.5716" rx="2.5")
                      //-   rect(x="4.30951" y="8.11914" width="35.5716" height="35.5716" rx="2.5")
                      //-   rect(x="8.11908" y="4.30908" width="35.5716" height="35.5716" rx="2.5")
                      //-   rect(x="11.9286" y="0.5" width="35.5716" height="35.5716" rx="2.5")
                  .work_content_screenshots_title(data-animation="title") Some Screenshots
                .work_content_screenshots_list
                  each screenshot in single.data.screenshots
                    figure.work_content_screenshots_list_item
                      img.work_content_screenshots_list_image(data-src=screenshot.image.url alt=screenshot.image.alt)

            .work_content_next_project
              .work_content_next_project_wrapper
                .work_content_next_project_button
                  .work_content_next_project_icon
                    svg(width="89" height="67" viewBox="0 0 89 67" fill="none" xmlns="http://www.w3.org/2000/svg")
                      circle(cx="33.1176" cy="33.1176" r="32.4926" stroke-width="1.25")
                      circle(cx="43.5759" cy="33.1176" r="32.4926" stroke-width="1.25")
                      circle(cx="55.7772" cy="33.1176" r="32.4926" stroke-width="1.25")

                  .work_content_next_project_link
                    a(href=`/work/${single.data.next_project.uid}`) Next project
